#mainNav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #FFFFFF;
}

#mainNav .navbar-brand:hover {
	color: #2937f0;
}

#mainNav .navbar-nav .nav-item .nav-link {
	color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
	color: #6c757d;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
	color: #2937f0;
}