#mainNav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #FFFFFF;
}

#mainNav .btn-primary {
	background-color: #2937f0;
}

#mainNav .btn-primary:hover {
	background-color: #4c57ef;
}

#mainNav .navbar-brand:hover {
	color: #2937f0;
}

#mainNav .navbar-nav .nav-item .nav-link {
	color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
	color: #6c757d;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
	color: #2937f0;
}

.app-badge {
	height: 3rem;
}

#herosection {
	background-color: #f8f9fa;
	padding-top: 6rem;
	padding-bottom: 7rem;
}

article,
section {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

#features {
	background-color: #f8f9fa;
}

footer a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

footer a:hover {
	color: rgba(255, 255, 255, 0.75);
	text-decoration: underline;
}

#gallery {
	background-color: #E6E7E7;
}

#gallery h2 {
	text-align: center;
	padding-bottom: 2rem;
}

#gallery .gallery-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 0 1rem;
}

#gallery .gallery-wrapper .image-thumb-wrapper {
	width: 240px;
	height: auto;
}

#gallery .gallery-wrapper .image-thumb-wrapper:nth-child(2) {
	transform: scale(1.1);
}

#gallery .gallery-wrapper .image-thumb-wrapper img {
	min-width: 130px;
	max-width: 100%;
	height: auto;
}

#about-us {
	display: grid;
	grid-template:
	  "h" 80px
	  "c" 300px
	  "s" auto
	  / 1fr;
	grid-gap: 16px;
  }
  
#about-us .header {
	grid-area: h;
}

#about-us .header::after {
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background: #2937f0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
  
#about-us .content {
	grid-area: c;
}
  
#about-us .sidebar {
	grid-area: s;
}

#about-us .sidebar img {
	max-width: 100%;
	height: auto;
}

@media(min-width: 768px) {
	#about-us {
		display: grid;
		grid-template:
		  "h h" 80px
		  "c s" auto
		  / 1fr 1fr;
		grid-gap: 16px;
	}
}

@media(min-width: 1200px) {
	#about-us {
		display: grid;
		grid-template:
		  "h h h" 80px
		  "c c s" 300px
		  / 1fr 1fr 1fr;
		grid-gap: 16px;
	}
	#about-us .content {
		margin-right: 4rem;
	}
	#map {
		height: 400px;
		width: 100%;
		margin-bottom: 4rem;
	}
}

